div#topBar {
    margin-top: 25px;
}

img.smallImg {
  width: 500px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #ddd;
}

div.centered {
    text-align: center;
}

p.messageForImage {
    margin-top: 10px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}