div#topBar {
    margin-top: 25px;
}

img.borderImg {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #ddd;
}

div.centered {
    text-align: center;
}

div.imageSection > img {
    margin-bottom: 15px;
}

p.messageForImage {
    margin-top: 10px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}